<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Welcome to TRON</title>
    <link rel="stylesheet" type="text/css" href="css/snake.css" media="screen" />
   	<script data-main="js/tron_engine.js" src="js/vendor/requireJS/require.js"></script>
  </head>
  <body>
	<input type="text" id="player1_name" ng-model="player1_name" placeholder="player1 name"><br>
	<input type="text" id="player2_name" ng-model="player2_name" placeholder="player2 name"><br>
	<h1>Hello {{player1_name}} and {{player2_name}}</h1>
	<button onclick="location.href='game.html'" type="button">Enter the grid!</button>
    
    
    <h1>Jens en tim</h1>
  </body>
</html>